Repository bradsjm/byte-blaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: typing-validation, check-version-consistency, check-no-debug-imports, check-todo-fixme

typing-validation:
  name: validate typing configuration
  entry: uv run python scripts/validate_typing.py
  language: system
  pass_filenames: false

check-version-consistency:
  name: check version consistency
  entry: python
  language: system
  args:
  - -c
  ...

check-no-debug-imports:
  name: check for debug imports
  entry: python
  language: system
  args:
  - -c
  ...

check-todo-fixme:
  name: check for TODO/FIXME comments
  entry: python
  language: system
  args:
  - -c
  ...

Add async streaming APIs for segments and files
  src/byteblaster/__init__.py
  src/byteblaster/client.py
  src/byteblaster/file_manager.py
Due: typing-validation, check-version-consistency, check-no-debug-imports, check-todo-fixme

Code quality improvements to examples
  examples/ASYNC_ITERATOR_USAGE.md
  examples/example.py
  examples/example_async_iterators.py
  examples/example_simple_iterator.py
Due: none

Refactor test suite and update test dependencies
  .zed/settings.json
  examples/example_simple_iterator.py
  pyproject.toml
  pyrightconfig.json
  scripts/check_python_compatibility.py
  scripts/release.py
  scripts/validate_typing.py
  src/byteblaster/client.py
  src/byteblaster/file_manager.py
  src/byteblaster/protocol/decoder.py
  src/byteblaster/protocol/models.py
  src/byteblaster/utils/__init__.py
  src/byteblaster/utils/serverlist.py
  tests/__init__.py
  tests/conftest.py
  tests/test_basic.py
  tests/test_connection.py
  tests/test_file_assembler.py
  tests/test_file_manager.py
  tests/test_handler.py
  tests/utils/__init__.py
  tests/utils/test_crypto.py
  tests/utils/test_serverlist.py
  uv.lock
Due: typing-validation, check-version-consistency, check-no-debug-imports, check-todo-fixme

Add tests for protocol models and update QBTSegment key
  pyproject.toml
  src/byteblaster/protocol/models.py
  tests/protocol/__init__.py
  tests/protocol/test_models.py
Due: typing-validation, check-version-consistency, check-no-debug-imports, check-todo-fixme

Add comprehensive tests for client, file manager, and protocol
  pyproject.toml
  src/byteblaster/client.py
  src/byteblaster/file_manager.py
  tests/protocol/test_auth.py
  tests/protocol/test_decoder.py
  tests/test_client.py
  tests/test_file_manager.py
  uv.lock
Due: typing-validation, check-version-consistency, check-no-debug-imports, check-todo-fixme

Refactor typing validation script and improve wheel checks
  .github/workflows/ci.yml
  pyproject.toml
  scripts/validate_typing.py
  tests/test_client.py
Due: typing-validation, check-version-consistency, check-todo-fixme

Fix argument formatting for multiline function calls
  scripts/release.py
  src/byteblaster/protocol/decoder.py
Due: typing-validation, check-no-debug-imports, check-todo-fixme

Update ci.yml
  .github/workflows/ci.yml
Due: none

Move docs and scripts, remove IMPLEMENTATION.md, update deps
  docs/ASYNC_ITERATOR_USAGE.md
  docs/IMPLEMENTATION.md
  pyproject.toml
  scripts/verify_installation.py
Due: typing-validation, check-version-consistency, check-todo-fixme

Add comprehensive README for ByteBlaster protocol implementation
  src/byteblaster/README.md
Due: typing-validation

Delete settings.json
  .zed/settings.json
Due: none

Update README.md
  README.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add workflow_call trigger to CI workflow
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

Fix workflow release regex
  .github/workflows/release.yml
Due: none

Bump version to 1.1.0-dev
  pyproject.toml
  src/byteblaster/__init__.py
Due: typing-validation, check-version-consistency, check-no-debug-imports, check-todo-fixme

Update dependency-update.yml
  .github/workflows/dependency-update.yml
Due: none

chore: update dependencies
  update_summary.md
  uv.lock.backup
Due: none

Refine dev dependencies and imports
  pyproject.toml
  src/byteblaster/protocol/decoder.py
  uv.lock
Due: typing-validation, check-version-consistency, check-no-debug-imports, check-todo-fixme

Path conditions:
  typing-validation: any of: ^(src/byteblaster/|pyproject\.toml|MANIFEST\.in), but not: (?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.mypy_cache/|
  build/|
  dist/|
  \.eggs/|
  .*\.egg-info/|
  node_modules/|
  \.tox/
)

  check-version-consistency: any of: ^(pyproject\.toml|src/byteblaster/__init__\.py)$, but not: (?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.mypy_cache/|
  build/|
  dist/|
  \.eggs/|
  .*\.egg-info/|
  node_modules/|
  \.tox/
)

  check-no-debug-imports: any of: \.py$ and not (^(tests/|examples/|scripts/)) and not ((?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.mypy_cache/|
  build/|
  dist/|
  \.eggs/|
  .*\.egg-info/|
  node_modules/|
  \.tox/
)
)
  check-todo-fixme: any of: \.py$ and not (^(tests/|examples/)) and not ((?x)^(
  \.git/|
  \.venv/|
  __pycache__/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.mypy_cache/|
  build/|
  dist/|
  \.eggs/|
  .*\.egg-info/|
  node_modules/|
  \.tox/
)
)
